<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-learning Platform</title>
</head>
<body>
    <div class="homepage-background">
        <div class="container text-center">
            <h1 class="mb-4">Welcome to Shiksha</h1>
            <button class="btn btn-success btn-lg mb-3" (click)="signup()">SignUp</button>
            <button class="btn btn-primary btn-lg mb-3" routerLink="/login">Login</button>
        </div>
    </div>
</body>
</html>